$day-size: 100px;
$distance: 1px;
$column-amount: 7;
$main-color: #eee;
$hover-color: #ffbfcb;
$starting-days: (
  'mon': 1,
  'tue': 2,
  'wed': 3,
  'thu': 4,
  'fri': 5,
  'sat': 6,
  'sun': 7,
);
